@import './scss/animations';
@import './scss/gallery';
@import './scss/search-form';
@import './scss/result';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background: linear-gradient(
    125deg,
    #57b0573d,
    #57b0ad3d,
    #5d57b03d,
    #b057a93d,
    #b057573d,
    #aeb0573d
  );
  background-size: 1200% 1200%;

  animation: animationGradient 60s ease-in-out infinite;
}
